//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 14 00:51:52 2020
//! **************************************************************************

SCHEMATIC START;
TIMEGRP clk = BEL "in0_reg_0" BEL "in0_reg_1" BEL "in0_reg_2" BEL "in0_reg_3"
        BEL "in0_reg_4" BEL "in0_reg_5" BEL "in0_reg_6" BEL "in0_reg_7" BEL
        "in0_reg_8" BEL "in0_reg_9" BEL "in0_reg_10" BEL "in0_reg_11" BEL
        "in0_reg_12" BEL "in0_reg_13" BEL "in0_reg_14" BEL "in0_reg_15" BEL
        "in0_reg_16" BEL "in0_reg_17" BEL "in0_reg_18" BEL "in0_reg_19" BEL
        "in0_reg_20" BEL "in0_reg_21" BEL "in0_reg_22" BEL "in0_reg_23" BEL
        "in0_reg_24" BEL "in0_reg_25" BEL "in0_reg_26" BEL "in0_reg_27" BEL
        "in0_reg_28" BEL "in0_reg_29" BEL "in0_reg_30" BEL "in0_reg_31" BEL
        "in0_reg_32" BEL "in0_reg_33" BEL "in0_reg_34" BEL "in0_reg_35" BEL
        "in0_reg_36" BEL "in0_reg_37" BEL "in0_reg_38" BEL "in0_reg_39" BEL
        "in0_reg_40" BEL "in0_reg_41" BEL "in0_reg_42" BEL "in0_reg_43" BEL
        "in0_reg_44" BEL "in0_reg_45" BEL "in0_reg_46" BEL "in0_reg_47" BEL
        "in0_reg_48" BEL "in0_reg_49" BEL "in0_reg_50" BEL "in0_reg_51" BEL
        "in0_reg_52" BEL "in0_reg_53" BEL "in0_reg_54" BEL "in0_reg_55" BEL
        "in0_reg_56" BEL "in0_reg_57" BEL "in0_reg_58" BEL "in0_reg_59" BEL
        "in0_reg_60" BEL "in0_reg_61" BEL "in0_reg_62" BEL "in0_reg_63" BEL
        "in1_reg_0" BEL "in1_reg_1" BEL "in1_reg_2" BEL "in1_reg_3" BEL
        "in1_reg_4" BEL "in1_reg_5" BEL "in1_reg_6" BEL "in1_reg_7" BEL
        "in1_reg_8" BEL "in1_reg_9" BEL "in1_reg_10" BEL "in1_reg_11" BEL
        "in1_reg_12" BEL "in1_reg_13" BEL "in1_reg_14" BEL "in1_reg_15" BEL
        "in1_reg_16" BEL "in1_reg_17" BEL "in1_reg_18" BEL "in1_reg_19" BEL
        "in1_reg_20" BEL "in1_reg_21" BEL "in1_reg_22" BEL "in1_reg_23" BEL
        "in1_reg_24" BEL "in1_reg_25" BEL "in1_reg_26" BEL "in1_reg_27" BEL
        "in1_reg_28" BEL "in1_reg_29" BEL "in1_reg_30" BEL "in1_reg_31" BEL
        "in1_reg_32" BEL "in1_reg_33" BEL "in1_reg_34" BEL "in1_reg_35" BEL
        "in1_reg_36" BEL "in1_reg_37" BEL "in1_reg_38" BEL "in1_reg_39" BEL
        "in1_reg_40" BEL "in1_reg_41" BEL "in1_reg_42" BEL "in1_reg_43" BEL
        "in1_reg_44" BEL "in1_reg_45" BEL "in1_reg_46" BEL "in1_reg_47" BEL
        "in1_reg_48" BEL "in1_reg_49" BEL "in1_reg_50" BEL "in1_reg_51" BEL
        "in1_reg_52" BEL "in1_reg_53" BEL "in1_reg_54" BEL "in1_reg_55" BEL
        "in1_reg_56" BEL "in1_reg_57" BEL "in1_reg_58" BEL "in1_reg_59" BEL
        "in1_reg_60" BEL "in1_reg_61" BEL "in1_reg_62" BEL "in1_reg_63" BEL
        "out_reg_0" BEL "out_reg_1" BEL "out_reg_2" BEL "out_reg_3" BEL
        "out_reg_4" BEL "out_reg_5" BEL "out_reg_6" BEL "out_reg_7" BEL
        "out_reg_8" BEL "out_reg_9" BEL "out_reg_10" BEL "out_reg_11" BEL
        "out_reg_12" BEL "out_reg_13" BEL "out_reg_14" BEL "out_reg_15" BEL
        "out_reg_16" BEL "out_reg_17" BEL "out_reg_18" BEL "out_reg_19" BEL
        "out_reg_20" BEL "out_reg_21" BEL "out_reg_22" BEL "out_reg_23" BEL
        "out_reg_24" BEL "out_reg_25" BEL "out_reg_26" BEL "out_reg_27" BEL
        "out_reg_28" BEL "out_reg_29" BEL "out_reg_30" BEL "out_reg_31" BEL
        "out_reg_32" BEL "out_reg_33" BEL "out_reg_34" BEL "out_reg_35" BEL
        "out_reg_36" BEL "out_reg_37" BEL "out_reg_38" BEL "out_reg_39" BEL
        "out_reg_40" BEL "out_reg_41" BEL "out_reg_42" BEL "out_reg_43" BEL
        "out_reg_44" BEL "out_reg_45" BEL "out_reg_46" BEL "out_reg_47" BEL
        "out_reg_48" BEL "out_reg_49" BEL "out_reg_50" BEL "out_reg_51" BEL
        "out_reg_52" BEL "out_reg_53" BEL "out_reg_54" BEL "out_reg_55" BEL
        "out_reg_56" BEL "out_reg_57" BEL "out_reg_58" BEL "out_reg_59" BEL
        "out_reg_60" BEL "out_reg_61" BEL "out_reg_62" BEL "out_reg_63" BEL
        "out_reg_64" BEL "out_reg_65" BEL "out_reg_66" BEL "out_reg_67" BEL
        "out_reg_68" BEL "out_reg_69" BEL "out_reg_70" BEL "out_reg_71" BEL
        "out_reg_72" BEL "out_reg_73" BEL "out_reg_74" BEL "out_reg_75" BEL
        "out_reg_76" BEL "out_reg_77" BEL "out_reg_78" BEL "out_reg_79" BEL
        "out_reg_80" BEL "out_reg_81" BEL "out_reg_82" BEL "out_reg_83" BEL
        "out_reg_84" BEL "out_reg_85" BEL "out_reg_86" BEL "out_reg_87" BEL
        "out_reg_88" BEL "out_reg_89" BEL "out_reg_90" BEL "out_reg_91" BEL
        "out_reg_92" BEL "out_reg_93" BEL "out_reg_94" BEL "out_reg_95" BEL
        "out_reg_96" BEL "out_reg_97" BEL "out_reg_98" BEL "out_reg_99" BEL
        "out_reg_100" BEL "out_reg_101" BEL "out_reg_102" BEL "out_reg_103"
        BEL "out_reg_104" BEL "out_reg_105" BEL "out_reg_106" BEL
        "out_reg_107" BEL "out_reg_108" BEL "out_reg_109" BEL "out_reg_110"
        BEL "out_reg_111" BEL "out_reg_112" BEL "out_reg_113" BEL
        "out_reg_114" BEL "out_reg_115" BEL "out_reg_116" BEL "out_reg_117"
        BEL "out_reg_118" BEL "out_reg_119" BEL "out_reg_120" BEL
        "out_reg_121" BEL "out_reg_122" BEL "out_reg_123" BEL "out_reg_124"
        BEL "out_reg_125" BEL "out_reg_126" BEL "out_reg_127" BEL
        "mult_comp_inst/pp1B_94" BEL "mult_comp_inst/pp1B_93" BEL
        "mult_comp_inst/pp1B_92" BEL "mult_comp_inst/pp1B_91" BEL
        "mult_comp_inst/pp1B_90" BEL "mult_comp_inst/pp1B_89" BEL
        "mult_comp_inst/pp1B_88" BEL "mult_comp_inst/pp1B_86" BEL
        "mult_comp_inst/pp1B_85" BEL "mult_comp_inst/pp1B_84" BEL
        "mult_comp_inst/pp1B_82" BEL "mult_comp_inst/pp1B_81" BEL
        "mult_comp_inst/pp1B_80" BEL "mult_comp_inst/pp1B_79" BEL
        "mult_comp_inst/pp1B_78" BEL "mult_comp_inst/pp1B_77" BEL
        "mult_comp_inst/pp1B_76" BEL "mult_comp_inst/pp1B_75" BEL
        "mult_comp_inst/pp1B_74" BEL "mult_comp_inst/pp1B_73" BEL
        "mult_comp_inst/pp1B_72" BEL "mult_comp_inst/pp1B_71" BEL
        "mult_comp_inst/pp1B_70" BEL "mult_comp_inst/pp1B_69" BEL
        "mult_comp_inst/pp1B_68" BEL "mult_comp_inst/pp1B_67" BEL
        "mult_comp_inst/pp1B_66" BEL "mult_comp_inst/pp1B_65" BEL
        "mult_comp_inst/pp1B_64" BEL "mult_comp_inst/pp1B_63" BEL
        "mult_comp_inst/pp1B_62" BEL "mult_comp_inst/pp1B_61" BEL
        "mult_comp_inst/pp1B_60" BEL "mult_comp_inst/pp1B_59" BEL
        "mult_comp_inst/pp1B_58" BEL "mult_comp_inst/pp1B_57" BEL
        "mult_comp_inst/pp1B_56" BEL "mult_comp_inst/pp1B_55" BEL
        "mult_comp_inst/pp1B_54" BEL "mult_comp_inst/pp1B_53" BEL
        "mult_comp_inst/pp1B_52" BEL "mult_comp_inst/pp1B_51" BEL
        "mult_comp_inst/pp1B_50" BEL "mult_comp_inst/pp1B_49" BEL
        "mult_comp_inst/pp1B_48" BEL "mult_comp_inst/pp1B_47" BEL
        "mult_comp_inst/pp1B_46" BEL "mult_comp_inst/pp1B_45" BEL
        "mult_comp_inst/pp1B_44" BEL "mult_comp_inst/pp1B_43" BEL
        "mult_comp_inst/pp1B_42" BEL "mult_comp_inst/pp1B_41" BEL
        "mult_comp_inst/pp1B_40" BEL "mult_comp_inst/pp1B_39" BEL
        "mult_comp_inst/pp1B_38" BEL "mult_comp_inst/pp1B_37" BEL
        "mult_comp_inst/pp1B_36" BEL "mult_comp_inst/pp1B_35" BEL
        "mult_comp_inst/pp1B_34" BEL "mult_comp_inst/pp1B_33" BEL
        "mult_comp_inst/pp1B_32" BEL "mult_comp_inst/pp1B_31" BEL
        "mult_comp_inst/pp1B_30" BEL "mult_comp_inst/pp1B_29" BEL
        "mult_comp_inst/pp1B_28" BEL "mult_comp_inst/pp1B_27" BEL
        "mult_comp_inst/pp1B_26" BEL "mult_comp_inst/pp1B_25" BEL
        "mult_comp_inst/pp1B_24" BEL "mult_comp_inst/pp1B_22" BEL
        "mult_comp_inst/pp1B_21" BEL "mult_comp_inst/pp1B_20" BEL
        "mult_comp_inst/pp1B_18" BEL "mult_comp_inst/pp1B_17" BEL
        "mult_comp_inst/pp1B_16" BEL "mult_comp_inst/pp1B_14" BEL
        "mult_comp_inst/pp1B_13" BEL "mult_comp_inst/pp1B_12" BEL
        "mult_comp_inst/pp1A_95" BEL "mult_comp_inst/pp1A_94" BEL
        "mult_comp_inst/pp1A_92" BEL "mult_comp_inst/pp1A_91" BEL
        "mult_comp_inst/pp1A_90" BEL "mult_comp_inst/pp1A_88" BEL
        "mult_comp_inst/pp1A_87" BEL "mult_comp_inst/pp1A_86" BEL
        "mult_comp_inst/pp1A_84" BEL "mult_comp_inst/pp1A_83" BEL
        "mult_comp_inst/pp1A_82" BEL "mult_comp_inst/pp1A_81" BEL
        "mult_comp_inst/pp1A_80" BEL "mult_comp_inst/pp1A_79" BEL
        "mult_comp_inst/pp1A_78" BEL "mult_comp_inst/pp1A_76" BEL
        "mult_comp_inst/pp1A_75" BEL "mult_comp_inst/pp1A_74" BEL
        "mult_comp_inst/pp1A_73" BEL "mult_comp_inst/pp1A_72" BEL
        "mult_comp_inst/pp1A_71" BEL "mult_comp_inst/pp1A_70" BEL
        "mult_comp_inst/pp1A_69" BEL "mult_comp_inst/pp1A_68" BEL
        "mult_comp_inst/pp1A_67" BEL "mult_comp_inst/pp1A_66" BEL
        "mult_comp_inst/pp1A_65" BEL "mult_comp_inst/pp1A_64" BEL
        "mult_comp_inst/pp1A_63" BEL "mult_comp_inst/pp1A_62" BEL
        "mult_comp_inst/pp1A_61" BEL "mult_comp_inst/pp1A_60" BEL
        "mult_comp_inst/pp1A_59" BEL "mult_comp_inst/pp1A_58" BEL
        "mult_comp_inst/pp1A_57" BEL "mult_comp_inst/pp1A_56" BEL
        "mult_comp_inst/pp1A_55" BEL "mult_comp_inst/pp1A_54" BEL
        "mult_comp_inst/pp1A_53" BEL "mult_comp_inst/pp1A_52" BEL
        "mult_comp_inst/pp1A_51" BEL "mult_comp_inst/pp1A_50" BEL
        "mult_comp_inst/pp1A_49" BEL "mult_comp_inst/pp1A_48" BEL
        "mult_comp_inst/pp1A_47" BEL "mult_comp_inst/pp1A_46" BEL
        "mult_comp_inst/pp1A_45" BEL "mult_comp_inst/pp1A_44" BEL
        "mult_comp_inst/pp1A_43" BEL "mult_comp_inst/pp1A_42" BEL
        "mult_comp_inst/pp1A_41" BEL "mult_comp_inst/pp1A_40" BEL
        "mult_comp_inst/pp1A_39" BEL "mult_comp_inst/pp1A_38" BEL
        "mult_comp_inst/pp1A_37" BEL "mult_comp_inst/pp1A_36" BEL
        "mult_comp_inst/pp1A_35" BEL "mult_comp_inst/pp1A_34" BEL
        "mult_comp_inst/pp1A_33" BEL "mult_comp_inst/pp1A_32" BEL
        "mult_comp_inst/pp1A_31" BEL "mult_comp_inst/pp1A_30" BEL
        "mult_comp_inst/pp1A_28" BEL "mult_comp_inst/pp1A_27" BEL
        "mult_comp_inst/pp1A_26" BEL "mult_comp_inst/pp1A_25" BEL
        "mult_comp_inst/pp1A_24" BEL "mult_comp_inst/pp1A_23" BEL
        "mult_comp_inst/pp1A_22" BEL "mult_comp_inst/pp1A_21" BEL
        "mult_comp_inst/pp1A_20" BEL "mult_comp_inst/pp1A_19" BEL
        "mult_comp_inst/pp1A_18" BEL "mult_comp_inst/pp1A_17" BEL
        "mult_comp_inst/pp1A_16" BEL "mult_comp_inst/pp1A_15" BEL
        "mult_comp_inst/pp1A_14" BEL "mult_comp_inst/pp1A_12" BEL
        "mult_comp_inst/pp1A_11" BEL "mult_comp_inst/pp1A_10" BEL
        "mult_comp_inst/pp1A_9" BEL "mult_comp_inst/pp1A_8" BEL
        "mult_comp_inst/pp1A_7" BEL "mult_comp_inst/pp1A_6" BEL
        "mult_comp_inst/pp1A_5" BEL "mult_comp_inst/pp1A_4" BEL
        "mult_comp_inst/pp1A_3" BEL "mult_comp_inst/pp1A_2" BEL
        "mult_comp_inst/pp1A_1" BEL "mult_comp_inst/pp1A_0" BEL
        "mult_comp_inst/pp0A_95" BEL "mult_comp_inst/pp0A_94" BEL
        "mult_comp_inst/pp0A_92" BEL "mult_comp_inst/pp0A_91" BEL
        "mult_comp_inst/pp0A_90" BEL "mult_comp_inst/pp0A_88" BEL
        "mult_comp_inst/pp0A_87" BEL "mult_comp_inst/pp0A_86" BEL
        "mult_comp_inst/pp0A_84" BEL "mult_comp_inst/pp0A_83" BEL
        "mult_comp_inst/pp0A_82" BEL "mult_comp_inst/pp0A_81" BEL
        "mult_comp_inst/pp0A_80" BEL "mult_comp_inst/pp0A_79" BEL
        "mult_comp_inst/pp0A_78" BEL "mult_comp_inst/pp0A_76" BEL
        "mult_comp_inst/pp0A_75" BEL "mult_comp_inst/pp0A_74" BEL
        "mult_comp_inst/pp0A_73" BEL "mult_comp_inst/pp0A_72" BEL
        "mult_comp_inst/pp0A_71" BEL "mult_comp_inst/pp0A_70" BEL
        "mult_comp_inst/pp0A_69" BEL "mult_comp_inst/pp0A_68" BEL
        "mult_comp_inst/pp0A_67" BEL "mult_comp_inst/pp0A_66" BEL
        "mult_comp_inst/pp0A_65" BEL "mult_comp_inst/pp0A_64" BEL
        "mult_comp_inst/pp0A_63" BEL "mult_comp_inst/pp0A_62" BEL
        "mult_comp_inst/pp0A_61" BEL "mult_comp_inst/pp0A_60" BEL
        "mult_comp_inst/pp0A_59" BEL "mult_comp_inst/pp0A_58" BEL
        "mult_comp_inst/pp0A_57" BEL "mult_comp_inst/pp0A_56" BEL
        "mult_comp_inst/pp0A_55" BEL "mult_comp_inst/pp0A_54" BEL
        "mult_comp_inst/pp0A_53" BEL "mult_comp_inst/pp0A_52" BEL
        "mult_comp_inst/pp0A_51" BEL "mult_comp_inst/pp0A_50" BEL
        "mult_comp_inst/pp0A_49" BEL "mult_comp_inst/pp0A_48" BEL
        "mult_comp_inst/pp0A_47" BEL "mult_comp_inst/pp0A_46" BEL
        "mult_comp_inst/pp0A_45" BEL "mult_comp_inst/pp0A_44" BEL
        "mult_comp_inst/pp0A_43" BEL "mult_comp_inst/pp0A_42" BEL
        "mult_comp_inst/pp0A_41" BEL "mult_comp_inst/pp0A_40" BEL
        "mult_comp_inst/pp0A_39" BEL "mult_comp_inst/pp0A_38" BEL
        "mult_comp_inst/pp0A_37" BEL "mult_comp_inst/pp0A_36" BEL
        "mult_comp_inst/pp0A_35" BEL "mult_comp_inst/pp0A_34" BEL
        "mult_comp_inst/pp0A_33" BEL "mult_comp_inst/pp0A_32" BEL
        "mult_comp_inst/pp0A_31" BEL "mult_comp_inst/pp0A_30" BEL
        "mult_comp_inst/pp0A_28" BEL "mult_comp_inst/pp0A_27" BEL
        "mult_comp_inst/pp0A_26" BEL "mult_comp_inst/pp0A_25" BEL
        "mult_comp_inst/pp0A_24" BEL "mult_comp_inst/pp0A_23" BEL
        "mult_comp_inst/pp0A_22" BEL "mult_comp_inst/pp0A_21" BEL
        "mult_comp_inst/pp0A_20" BEL "mult_comp_inst/pp0A_19" BEL
        "mult_comp_inst/pp0A_18" BEL "mult_comp_inst/pp0A_17" BEL
        "mult_comp_inst/pp0A_16" BEL "mult_comp_inst/pp0A_15" BEL
        "mult_comp_inst/pp0A_14" BEL "mult_comp_inst/pp0A_12" BEL
        "mult_comp_inst/pp0A_11" BEL "mult_comp_inst/pp0A_10" BEL
        "mult_comp_inst/pp0A_9" BEL "mult_comp_inst/pp0A_8" BEL
        "mult_comp_inst/pp0A_7" BEL "mult_comp_inst/pp0A_6" BEL
        "mult_comp_inst/pp0A_5" BEL "mult_comp_inst/pp0A_4" BEL
        "mult_comp_inst/pp0A_3" BEL "mult_comp_inst/pp0A_2" BEL
        "mult_comp_inst/pp0A_1" BEL "mult_comp_inst/pp0A_0" BEL
        "mult_comp_inst/pp0B_94" BEL "mult_comp_inst/pp0B_93" BEL
        "mult_comp_inst/pp0B_92" BEL "mult_comp_inst/pp0B_91" BEL
        "mult_comp_inst/pp0B_90" BEL "mult_comp_inst/pp0B_89" BEL
        "mult_comp_inst/pp0B_88" BEL "mult_comp_inst/pp0B_86" BEL
        "mult_comp_inst/pp0B_85" BEL "mult_comp_inst/pp0B_84" BEL
        "mult_comp_inst/pp0B_82" BEL "mult_comp_inst/pp0B_81" BEL
        "mult_comp_inst/pp0B_80" BEL "mult_comp_inst/pp0B_79" BEL
        "mult_comp_inst/pp0B_78" BEL "mult_comp_inst/pp0B_77" BEL
        "mult_comp_inst/pp0B_76" BEL "mult_comp_inst/pp0B_75" BEL
        "mult_comp_inst/pp0B_74" BEL "mult_comp_inst/pp0B_73" BEL
        "mult_comp_inst/pp0B_72" BEL "mult_comp_inst/pp0B_71" BEL
        "mult_comp_inst/pp0B_70" BEL "mult_comp_inst/pp0B_69" BEL
        "mult_comp_inst/pp0B_68" BEL "mult_comp_inst/pp0B_67" BEL
        "mult_comp_inst/pp0B_66" BEL "mult_comp_inst/pp0B_65" BEL
        "mult_comp_inst/pp0B_64" BEL "mult_comp_inst/pp0B_63" BEL
        "mult_comp_inst/pp0B_62" BEL "mult_comp_inst/pp0B_61" BEL
        "mult_comp_inst/pp0B_60" BEL "mult_comp_inst/pp0B_59" BEL
        "mult_comp_inst/pp0B_58" BEL "mult_comp_inst/pp0B_57" BEL
        "mult_comp_inst/pp0B_56" BEL "mult_comp_inst/pp0B_55" BEL
        "mult_comp_inst/pp0B_54" BEL "mult_comp_inst/pp0B_53" BEL
        "mult_comp_inst/pp0B_52" BEL "mult_comp_inst/pp0B_51" BEL
        "mult_comp_inst/pp0B_50" BEL "mult_comp_inst/pp0B_49" BEL
        "mult_comp_inst/pp0B_48" BEL "mult_comp_inst/pp0B_47" BEL
        "mult_comp_inst/pp0B_46" BEL "mult_comp_inst/pp0B_45" BEL
        "mult_comp_inst/pp0B_44" BEL "mult_comp_inst/pp0B_43" BEL
        "mult_comp_inst/pp0B_42" BEL "mult_comp_inst/pp0B_41" BEL
        "mult_comp_inst/pp0B_40" BEL "mult_comp_inst/pp0B_39" BEL
        "mult_comp_inst/pp0B_38" BEL "mult_comp_inst/pp0B_37" BEL
        "mult_comp_inst/pp0B_36" BEL "mult_comp_inst/pp0B_35" BEL
        "mult_comp_inst/pp0B_34" BEL "mult_comp_inst/pp0B_33" BEL
        "mult_comp_inst/pp0B_32" BEL "mult_comp_inst/pp0B_31" BEL
        "mult_comp_inst/pp0B_30" BEL "mult_comp_inst/pp0B_29" BEL
        "mult_comp_inst/pp0B_28" BEL "mult_comp_inst/pp0B_27" BEL
        "mult_comp_inst/pp0B_26" BEL "mult_comp_inst/pp0B_25" BEL
        "mult_comp_inst/pp0B_24" BEL "mult_comp_inst/pp0B_22" BEL
        "mult_comp_inst/pp0B_21" BEL "mult_comp_inst/pp0B_20" BEL
        "mult_comp_inst/pp0B_18" BEL "mult_comp_inst/pp0B_17" BEL
        "mult_comp_inst/pp0B_16" BEL "mult_comp_inst/pp0B_14" BEL
        "mult_comp_inst/pp0B_13" BEL "mult_comp_inst/pp0B_12" BEL
        "mult_comp_inst/st" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 4.7 ns HIGH 50%;
SCHEMATIC END;

